.cardMainCar {
    width: 24% ;
    height: 450px;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 5px rgb(236, 236, 236);
    transform: scale(1) ;
    transition: all 1s ease-out;
}
.imgUser {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgb(122, 122, 122);
}
.phone {
    width: 13%;
}
.cardMainCar:hover {
transform: scale(1.02);
}
.mainheading {
    font-size: 30px;
    padding: 10px;
}
.mainheadingCompany {
    font-size: 30px;
    font-weight: 600;
    padding: 15px 10px;
}

.iconheart {
    width: 20px;
    height: 20px;
}
.carImg {
    width: 80%;
    margin: auto;
    height: 150px;
    border-radius: 5px;
}
.company {
    cursor: pointer;
}
.border {
        border: rgb(57, 57, 57) solid 1px;
        margin: auto;
        border-radius: 5px;
    
}
.text-color {
color: rgb(103, 103, 103);}
.cardMainCar .cardicon {
    height: 20px !important;
    display: flex;
    justify-content: center;
}

  

@media screen and (max-width: 1200px) {
    .cardMainCar {
        width: 30% ;
    }
}

@media screen and (max-width: 920px) {
    .cardMainCar {
        width: 45% ;
    }
}
@media screen and (max-width: 800px) {
    .cardMainCar {
        width: 65% ;
    }
}

@media screen and (max-width: 650px) {
    .cardMainCar {
        width: 70% ;
    }
}
@media screen and (max-width: 380px) {
    .cardMainCar {
        width: 75% ;
    }
}
.cardMainCar h2 {
    justify-content: space-between;
}

.cardMainCar .icon {
    width: 20px !important;
    height: 20px !important;
}
.cardicon span{
    padding: 0 5px;
}
.mainnocar {
    width: 70%;
    height: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-top: 20px;
}
