.cardMainCar {
    width: 24% ;
    height: 450px;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 5px rgb(236, 236, 236);
    transform: scale(1) ;
    transition: all 1s ease-out;
}
.imgUser {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgb(122, 122, 122);
}
.imgUserBillOwner {
    width: 100%;
    height: 100%;
}
.item {
    width: 70%;
    display: flex;
}
.itemLicense {
    width: 30%;
}
.itemDetials {
    display: flex;
    justify-content: space-between;
    width: calc((100% ) / 2)
}
.renters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}

.renterInfoImg {
display: flex;
align-items: start;
gap: 10px;
}
.renterInfoParagraph {
    display: flex;
    align-items: start;
margin-top: 0px;
padding-top: 0px;
    }

.renterInfoImgLincense {
    display: flex;
    justify-content: start;
    align-items: center;
}

.renterInfoImgContainer {
    width: 100px;
    height: 90px;
}
.renterInfoImgContainer img {
    width: 100%;
    height: 100%;
}
.imgUserBill {
    width: 20%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.imgUserBill img {
    height: 90%;
    width:100%;
}
.imgLicenseBill {
    width: 30%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.imgLicenseBill img{
    height: 90%;
    width: 80%;
}
.renterInfoImgContainer{
    position: relative;
}
.imgShow {
    background-color:rgba(23, 23, 23, 0.134);
    color: white;
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease; 

}
.imgShow:hover {
    background-color:  rgba(32, 32, 32, 0.333);
}
.phone {
    width: 13%;
}
.cardMainCar:hover {
transform: scale(1.02);
}
.mainheading {
    font-size: 30px;
    padding: 10px;
}
.mainheadingCompany {
    font-size: 30px;
    font-weight: 600;
    padding: 15px 10px;
}

.iconheart {
    width: 20px;
    height: 20px;
}
.carImg {
    width: 80%;
    margin: auto;
    height: 150px;
    border-radius: 5px;
}
.company {
    cursor: pointer;
}
.border {
        border: rgb(57, 57, 57) solid 1px;
        margin: auto;
        border-radius: 5px;
    
}
.text-color {
color: rgb(103, 103, 103);}
.cardMainCar .cardicon {
    height: 20px !important;
    display: flex;
    justify-content: center;
}

  

@media screen and (max-width: 1200px) {
    .cardMainCar {
        width: 30% ;
    }
}

@media screen and (max-width: 920px) {
    .cardMainCar {
        width: 45% ;
    }
}
@media screen and (max-width: 800px) {
    .cardMainCar {
        width: 65% ;
    }
}

@media screen and (max-width: 650px) {
    .cardMainCar {
        width: 70% ;
    }
}
@media screen and (max-width: 380px) {
    .cardMainCar {
        width: 75% ;
    }
}
.cardMainCar h2 {
    justify-content: space-between;
}

.cardMainCar .icon {
    width: 20px !important;
    height: 20px !important;
}
.cardicon span{
    padding: 0 5px;
}
.mainnocar {
    width: 70%;
    height: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-top: 20px;
}
