.message_list{
    border: 1px solid #000;
    height: 600px;
    display: flex;
    margin: 10px;
    width: 60%;
    overflow: auto;
    border-radius: 5px;


}
.message_list_list {
    border: 1px solid #000;
    margin: 10px;
    width: 40%;
    height: 600px;
    border-radius: 5px;
    position: relative;
}

.chat-content {
   height: 90%; 
   overflow: auto;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}
.searchContent {
    overflow: auto;
    height: 530px;
}
.chat-content::-webkit-scrollbar,
.searchContent::-webkit-scrollbar{
    width: 8px;
  
}
.chat-content::-webkit-scrollbar-thumb,
.searchContent::-webkit-scrollbar-thumb
{
    background-color: #4c9ef6;
}
.chat-content::-webkit-scrollbar-thumb:hover,
.searchContent::-webkit-scrollbar-thumb:hover{
    background-color: #0174ef;
}

.chat-content::-webkit-scrollbar-track,
.searchContent::-webkit-scrollbar-track{
    background-color: rgb(216, 216, 216);
}
.serachContainer {
    position: sticky ;
    top: 0;
}

.chat-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    background-image: url('../../../public/image/chatbg.jpg');
    background-size: cover; /* Make the background cover the entire container */
    background-repeat: repeat-y; /* Prevent the background image from repeating */
    background-position: fixed; /* Center the background image */
    position: relative;
}

.message-list {
    width: 100%;
    position: sticky;
    top :1px;

}

.message {
    background-color: #f0f0f0;
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    position: sticky;
    bottom: 0px !important;
}

.message-input {
    flex: 1;
    padding: 5px;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid rgb(94, 94, 94);
}

.send-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.send-button:hover {
    background-color: #0056b3;
}
.user-list {
    list-style-type: none;
    padding: 0;
}

.user-list-item {

    padding: 10px;
    border-bottom: 1px solid #ccc;
}



.user-name {
    font-weight: bold;
}
/* Add this CSS to your stylesheet */
  .sticky-header {
    position: fixed;
    top: 0;
    width: calc(80% - 390px); /* Adjust as necessary */
    z-index: 100;
    background-color: #343a40;
 }
  