.mainBooking {
    border-radius: 15px;
    box-shadow: 3px 3px 3px 5px hsla(0, 0%, 79%, 0.51);
}
.minorBooking {
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px hsla(0, 1%, 87%, 0.51);
    scale:calc(1);
    transition: all 2s ease;
}
.minorBooking:hover {
    scale: calc(1.03);
    cursor: pointer;
}