* {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.maindiv {
    margin-top: 1% !important;
    margin: 4% 3%;

}

.maindiv img {
    width: 100%;
    height: 100%;
    height: 350px;
    border-radius: 10px;
}

.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
    display: none;
  }
  
  .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
    display: none;
  }
  
.plantrip {
    margin-top: 5%;
}

.item {
    margin: 5px;
    /* Adjust margin as needed */
    background-color: #f9f9f9;
    padding: 10px;
}

@media screen and (max-width: 1000px) {
    .item {
        width: calc(70% - 10px);
        /* 50% width for each item with 10px margin in between */
    }
}

@media screen and (max-width: 480px) {
    .item {
        width: calc(50% - 10px);
        /* 50% width for each item with 10px margin in between */
    }
}

@media screen and (max-width: 768px) {
    .item {
        width: calc(33.33% - 10px);
        /* 33.33% width for each item with 10px margin in between */
    }
}
.maindiv .swiper_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.maindiv .swiper_container img {
    align-self: center;

    
}

.counter{
    background-image: url("../../../public/image/counterbg2.png");

    background-size: cover;
        /* or contain, or specify a width and height */
        background-repeat: no-repeat;
        /* or repeat-x, repeat-y, repeat */
        background-position: center;
        /* or specify a position */
            
    padding: 20px;
}

.map-highlight:hover{
    background-color: rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
        transition: background-color 0.3s ease;
        /* Fade effect */
}

.desmap{
    width: 100%;
    margin-left: 20% !important ;
  
}
.divdesmap{


}